<div class="container">
  <h1>Books</h1>
  <div class="row">
    <% @products.each do |product| %>
	    <% if product.category == "books"%>

	      <div class = "col-md-4">
	      
	      	<div class="panel panel-default">
	      		<div class="panel-body">
		          <h1><%= product.name %></h1>
		          <h2><%= number_to_currency(product.price) %></h2>
		          <h4><%= product.description %></h4>
		          <p> <%form_tag('salesfloor/purchased') do %>
		          	<strong>How many?</strong> <%= number_field_tag :quantity %>
		          	<span class="cant-see-me"><%= text_field_tag :item product.name%></span><br />
		          	<%= submit_tag "Purchase", class: "btn btn-warning blue-text" %>
		          	<span class="cant-see-me"><%= text_field_tag :item product.name%></span><br />
		          	<%= submit_tag "Purchase", class: "btn btn-warning blue-text" %>
		          	<% end %>
		          <%= image_tag product.avatar.url(:medium) %>
		          <div>
            <br>
            <%= submit_tag 'Purchase', class: "btn btn-default" %>
          </div>
          <br>
		        </div>
	        </div>
	      </div>
	      <br>
	     <% end %>
    <% end %>
  </div>
  <br>
</div>

<br>